.CFUserTextEncoding
.wsalock
.DS_Store
.Trash
.IntelliJIdea14/
.Xauthority
.android
.atom
.aws
.bash_history
.cache
.chef
.chef-bak
.config
.dropbox
.dropbox-master
.fontconfig
.gem
.ghc
.git-completion.bash
.gradle
.heroku
.ivy2
.lesshst
.local
.m2
.netrc
.node-gyp
.npm
#.oh-my-zsh
.profile
.psql_history
.putty
.python-eggs
.rnd
.rvm
.sbt
.sbtconfig
.scala_history
.ssh
.squadron
.viminfo
.wireshark
.wireshark-etc
.yjp
.zlogin
.zcompdump-ewenberg-5.0.5
.zcompdump*
.zsh-update
.zsh_history
Applications
bin
Code
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
MyCode
noversion
Pictures
Public
Sites
Work
VirtualBox VMs
*.pem
.boto
.s3cfg
tmp/
.nbprofiler/
.tsd-cache/
.bash_logout
.bashrc
.chefdk/
.vim/.netrwhist
flyway/
.psql_history-
.IntelliJIdea15/
.babel.json
.cups/
.oracle_jre_usage/
.arcrc
.idea-build/
.nvm/
.sh_history
Elasticsearch/
nohup.out
Stuff
.vim/bundle
.node_repl_history
Team Dropbox (new)/
.vagrant.d
chef
