[user]
	name = Emily Wenberg
	email = martiansnoop@gmail.com
[credential]
	helper = osxkeychain
[core]
	autocrlf = input
	excludesfile = /Users/ewenberg/.gitignoreGlobal
[color]
	ui = true
[alias]
	unstage = reset HEAD --
  # git change-commits GIT_AUTHOR_EMAIL "old" "new"
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ $`echo $VAR` = \\\"$OLD\\\" ]]; then export $VAR=\\\"$NEW\\\"; fi\" $@; }; f"
[push]
  default = current

