.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.android
.atom
.bash_history
.cache
.chef
.chef-bak
.config
.dropbox
.dropbox-master
.fontconfig
.ghc
.git-completion.bash
.gradle
.heroku
.ivy2
.lesshst
.local
.m2
.netrc
.node-gyp
.npm
#.oh-my-zsh
.oh-my-zsh/.gitignore
.oh-my-zsh/MIT-LICENSE.txt
.oh-my-zsh/README.textile
.oh-my-zsh/lib/
.oh-my-zsh/log/
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.profile
.putty
.python-eggs
.rnd
.rvm
.sbt
.sbtconfig
.scala_history
.ssh
.viminfo
.netrwhist
.wireshark
.wireshark-etc
.yjp
.zlogin
.zcompdump-ewenberg-5.0.5
.zsh-update
.zsh_history
Applications
Code
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
MyCode
Pictures
Public
Sites
VirtualBox VMs
