.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.android
.atom
.bash_history
.cache
.chef/ewenberg.pem
.chef-bak
.config
.dropbox
.dropbox-master
.fontconfig
.ghc
.git-completion.bash
.gradle
.heroku
.ivy2
.lesshst
.local
.m2
.netrc
.node-gyp
.npm
.profile
.putty
.python-eggs
.rnd
.rvm
.sbt
.sbtconfig
.scala_history
.ssh
.viminfo
.wireshark
.wireshark-etc
.yjp
.zlogin
Applications
Code
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
MyCode
Pictures
Public
Sites
VirtualBox VMs
